<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:fragment="main-fragment (title, otherStaticResources, header, nav, mainContent, footer)">
<head>
    <meta charset="UTF-8">
    <title th:replace="${title}">Ozil Page Title</title>
    <link rel="stylesheet" type="text/css" th:ref="@{/main.css}" href="../../static/main.css"/>
    <th:block th:replace="${otherStaticResources} ?: ~{}"></th:block>
</head>

<body>
<header th:replace="${header} ?: ~{}">
    <h2>Ozil Header</h2>
</header>
<section>
    <nav th:insert="${header} ?: ~{}">

    </nav>
</section>
</body>
</html>