<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/global.css}"/>
    <title th:text="${title}">Ozil Page Title</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
</html>
