<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/global.css}"/>
    <title th:text="${title}">Ozil Page Title</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="/js/htmx.min.js"></script>
    <script src="/js/_hyperscript.min.js"></script>
</head>


<nav th:fragment="navbar(page)" class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="#">
            Your Project Name
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" th:href="@{/home}" >
                Home
            </a>

            <a class="navbar-item" th:href="@{/projects}">
                Projects
            </a>

            <a class="navbar-item" th:href="@{/issues}">
                Issues
            </a>
        </div>
    </div>
</nav>
